 <div class="user-details">
  <h1> My Ability </h1>
  <a href="./files/CoverLetter.pdf" target="_blank">자기소개서 보기 (DownLoad)</a>
  <p> {{site.user_description1}} </p>
  <p> {{site.user_description2}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>기술 SKILL</h2>
      <img src="./images/img_Java.png">
      <img src="./images/img_Kotlin.png">
      <i class="devicon-javascript-plain colored"></i>
      <img src="./images/img_SVN.png">
      <i class="devicon-git-plain"></i>
      <p align="left">- 주 언어는 Java와 Kotilin으로 Andorid App에 필요한 Component를 개발하여 사용하고, API를 사용하여 설계, 개발, 운영 경험</p>
      <p align="left">- 화면 개발 시 JavaScript 개발</p>
      <p align="left">- SVN 또는 Git을 통한 소스 관리 및 배포 프로세스 경험</p>
    </div>
    <div class="tech">
      <h2>업무 SKILL</h2>
      <img src="./images/img_KrStock.png">
      <img src="./images/img_GlobalStock.png">
      <img src="./images/img_PM.png">
      <p align="left">- 국내주식 및 해외주식 관련 업무 경험</p>
      <p align="left">- 다수의 프로젝트 리더로써 프로젝트원 관리 및 다양한 팀과의 협업 경험</p>
    </div>
</div>
