<div class="user-details">
  <h1> Work List </h1>
  <a href="./files/Project.pptx" target="_blank">프로젝트 기술서 보기 (DownLoad)</a>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="HeroS#" src="{{ "./images/img_HeroS2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" style="display: inline;">
    <h3> 키움증권 영웅문S# 앱 개발 프로젝트 및 운영 </h3>
    <ul>
      <li> 주요특징 </li>
    </ul>
    <p> - 2021.02 ~ 2022.10 기간동안 키움증권의 App인 "영웅문S#"의 플랫폼, 화면 개발 및 운영을 했으며, "파트장"의 직책으로써 6명의 파트원 관리 뿐만아니라 "Kotlin", "JavaScript", "Git"을 사용하여 개발을하였습니다.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="OpenBK" src="{{ "./images/img_OpenBK.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="display: inline;">
    <h3> 키움증권 오픈뱅킹 프로젝트 </h3>
    <ul>
      <li> 주요특징 </li>
    </ul>
    <p> - 2020.10 ~ 2021.02 기간동안 키움증권의 App인 "영웅문S", "자산관리", "영웅문SF+", "영웅문SG" 4개의 매체에 오픈뱅킹 기능을 추가하는 프로젝트를 했으며, "PL"의 직책으로 3명의 프로젝트원 관리 뿐만아니라 "Java", "JavaScript", "SVN"을 사용하여 개발을하였습니다.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="KiwoomSavingBK" src="{{ "./images/img_SavingBK.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" style="display: inline;">
    <h3> 키움저축은행 앱 개발 프로젝트 </h3>
    <ul>
      <li> 주요특징 </li>
    </ul>
    <p> - 2020.05 ~ 2021.02 기간동안 키움저축은행과 키움Yes저축은행 App인 "키움저축은행", "키움Yes저축은행" 2개의 App을 각각 개발하는 프로젝트를 했으며, "PL"의 직책으로 5명의 프로젝트원 관리 뿐만아니라 "Kotlin", "Git"을 사용하여 개발을하였습니다.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="HeroS_KOTC_KONEX" src="{{ "./images/img_KOTCKONEX.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="display: inline;">
    <h3> 키움증권 K-OTC 및 코넥스 개발 프로젝트 </h3>
    <ul>
      <li> 주요특징 </li>
    </ul>
    <p> - 2020.01 ~ 2021.02 기간동안 키움증권 App인 "영웅문S"에 K-OTC, KONEX 상품을 추가하는 프로젝트를 했으며, "PL"의 직책으로 3명의 프로젝트원 관리 뿐만아니라 "Java", "JavaScript", "SVN"을 사용하여 개발을하였습니다.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="HeroS" src="{{ "./images/img_HeroS.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" style="display: inline;">
    <h3> 키움증권 영웅문S 운영 </h3>
    <ul>
      <li> 주요특징 </li>
    </ul>
    <p> - 2018.03 ~ 2019.12 기간동안 키움증권 App인 "영웅문S"의 운영을 했으며, "PL"의 직책으로 3명의 프로젝트원 관리 뿐만아니라 "Java", "JavaScript", "SVN"을 사용하여 개발을하였습니다.</p>
  </div>
</div>
